<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&family=Poppins:wght@400;500;600&family=Roboto:ital@1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&family=Poppins:wght@400;500;600&family=Raleway:ital,wght@1,500&family=Roboto:ital@1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <h1 class="titulo">CLIENTES</h1>
    </header>
    <main>
      <div class="contenedor">
        <select class="select" name="clientes" id="clientesId">
          <option value="">Clientes</option>
        </select>
      </div>

      <table class="tabla">
        <tr>
          <td class="columnaTabla">Nombre</td>
          <td class="columnaTabla">Apellido Paterno</td>
          <td class="columnaTabla">Apellido Materno</td>
          <td class="columnaTabla">Edad</td>
          <td class="columnaTabla">Sexo</td>
          <td class="columnaTabla">Correo Electronico</td>
          <td class="columnaTabla">CURP</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <button
        class="button success btnindex"
        type="button"
        onclick="location.href='./clientes.html'"
      >
        Crear cliente
      </button>
    </main>
  </body>
</html>
